.element__trash {
    background-image: url(../../../images/Trash.svg);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: opacity, 0s, ease-out, 0.5s;
    position: absolute;
    
  }
  
  .element__trash:hover {
    opacity: 0.5;
  }