.profile__avatar {
  display: flex;
  width: 120px;
  height: 120px;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 715px) {
  .profile__avatar {
    margin: 0 auto 26px auto;
  }
}

