.header__button {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 auto 24px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 715px) {
  .header__button {
    margin: 0 30px auto 24px;
  }
}

@media screen and (max-width: 440px) {
  .header__button {
    font-size: 14px;
    line-height: 17px;
  }
}
